:host {
  --journey-companion-buttons-radius: calc(
    var(--sbb-border-radius-16x) + var(--sbb-border-radius-6x)
  );

  justify-content: space-between;
}

.journey-companion-container {
  gap: var(--sbb-spacing-fixed-8x);
  width: 50%;

  @media (max-width: 1024px) {
    width: 85%;
  }
}

.lobby-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sbb-spacing-fixed-4x);
}

.journey-companion-game-buttons {
  border-radius: var(--journey-companion-buttons-radius);

  &:has(article) {
    border-radius: var(--sbb-border-radius-8x) var(--sbb-border-radius-8x)
      var(--journey-companion-buttons-radius) var(--journey-companion-buttons-radius);
  }
}
